<div *ngIf="articles !== undefined">
    <div *ngIf="articles.length == 0">
        <h5>You have no search history</h5>
    </div>
    
    <div *ngIf="articles.length !== 0">
        <div *ngFor="let a of articles" class="list-group mb-3">
            <a href="#" class="list-group-item list-group-item-action active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{a.title}}</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
        </div>
    </div>
</div>


