<!-- Nav bar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <span class="navbar-brand mb-0 h1">Veracity</span>
    <div class="navbar">
      <div class="nav">
        <a class="nav-item nav-link active" [routerLink]="['/main']">Analyze <span class="sr-only">(current)</span></a>
        
      </div>
      <div class="nav">
        <a class="nav-item nav-link" [routerLink]="['/history']">My history</a>
      </div>
      <div class="nav">
        <a class="nav-item nav-link" [routerLink]="['/supportme']">Support</a>
      </div>
    </div>
  </nav>

<br>
<!-- Form -->

<div class="row">
    <div class="col">
        <h3>To analyze  a news article, provide one of the following fields:</h3>
    </div>
</div>

<form [formGroup]="newsArticleForm">
    <div class="row form-group">
        <div class="col">
            <label for="basic-url"><strong>URL</strong></label> 
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="url" placeholder="Paste the URL here if the article is hosted online">
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="basic-url"><strong>Title</strong></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="title" placeholder="Write or paste the article title here">
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="basic-url"><strong>Content</strong></label>
            <div class="input-group mb-3">
                <textarea type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="content" placeholder="Write or paste content to be analyzed here"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="onAnalyzeClick()">Analyze</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-light" (click)="onResetClick()">Reset</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-info" (click)="share()" [disabled]="analysis == null || !canShare"><strong>Share with analysis</strong></button>
        </div>
    </div>
    
</form>

<br><br>

<!-- Analysis -->

<div *ngIf="analysis != null">
    <h4 class="mb-3">Analysis</h4>

    <!-- Url analysis -->
    <div *ngIf="isNotEmpty.domain">
        <div class="row mb-2">
            <h6><strong>URL</strong></h6>
        </div>
        <div class="row mb-3">
            <div class="col">Category: <em>{{analysis.domain.category}}</em></div>
        </div>
    </div>
    
    <!-- Title Analysis -->
    <div *ngIf="isNotEmpty.title">
        <div class="row mb-2">
            <h6><strong>Title: </strong><em>{{analysis.title.decision}}</em></h6>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <h6>0 (Biased)</h6>
            </div>
            <div class="col-6">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" [style.width.%]="analysis['title']['score']*100" [aria-valuenow]="analysis['title']['score']" aria-valuemin="0" aria-valuemax="1">{{analysis['title']['score'].toFixed(5)}}</div>
                </div>
            </div>
            <div class="col-3">
                <h6>1 (Impartial)</h6>
            </div>
        </div>  
    </div>
    

    <!-- Content Analysis -->
    <div *ngIf="isNotEmpty.content">
        <div class="row mb-2">
            <h6><strong>Content: </strong><em>{{analysis.content.decision}}</em></h6>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <h6>0 (Biased)</h6>
            </div>
            <div class="col-6">
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="analysis['content']['score']*100" [aria-valuenow]="analysis['content']['score']" aria-valuemin="0" aria-valuemax="1">{{analysis['content']['score'].toFixed(5)}}</div>
                </div>
            </div>
            <div class="col-3">
                <h6>1 (Impartial)</h6>
            </div>
        </div>
    </div>


    
    <!-- Privacy Policy -->
    <div class="row mb-3">
        <div class="col">
            <small>
                Artificial Intelligence powered by <a href='https://machinebox.io/' target='_blank'>Machine Box</a>
            </small>
        </div>
    </div>

</div>